* {
    font-family: 'Courier New', Courier, monospace;
}

#credit-fard-form {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

#card-front, #card-back {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: 5px 5px 10%;
    margin: 20px;
    padding: 20px;
}

#card-front {
    grid-column: 1 / 3;
}

#card-back {
    grid-column: 2 / 4;
    grid-row: 2 / 5;
    z-index: -1;
}

#gray-bar {
    display: block;
    background-color: #4e4e4e;
}

#submit-btn {
    margin: 20px;
    padding: 5px 10px;
    border-radius: 10%;
}