/* General and border style */
.content {
    border: 1px solid #a3a3a3;
    margin: 40px auto;
    padding: 60px 100px;
    max-width: 600px;
    line-height: 1.5em;
    font-size: 20px;
}

/* Dark Theme style */
.dark {
    background-color: #333;
    color: white;
}

.dark h2 {
    color: #A0D4ED;
}

.dark select {
    background-color: #333;
    color: white;
    box-shadow: 1px 1px 4px black;
}

/* Theme selector style */
select {
    width: 100px;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #a3a3a3;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    outline: none;
}

/* Header style */
.title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: auto 50px;
}

span {
    font-style: normal;
    font-weight: 549;
}

h1 {
    font-size: 34px;
}

h2 {
    color: #006EB6;
    font-size: 14px;
    margin-bottom: -5px;
}

hr {
    display: flex;
    margin: 0 auto;
    max-width: 500px;
    color: #e0e0e0;
}

/* Main content style */
main {
    font-size: 17px;
    margin: auto 50px;
}

li {
    margin-bottom: 20px;
}

/* Footer Style */
footer {
    margin: auto 50px;
    margin-top: 50px;
}

img {
    width: 150px;
    display: flex;
    margin: 0 auto;
}