.content {
    border: 1px solid #a3a3a3;
    margin: 40px auto;
    padding: 60px 100px;
    max-width: 600px;
    line-height: 1.5em;
    font-size: 20px;
}

.title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: auto 50px;
}

span {
    font-style: normal;
    font-weight: 549;
}

h1 {
    font-size: 34px;
}

h2 {
    color: #006EB6;
    font-size: 14px;
    margin-bottom: -5px;
}

hr {
    display: flex;
    margin: 0 auto;
    max-width: 500px;
    color: #c9c9c9;
}

main {
    margin: 50px 0px;
    font-size: 17px;
    margin: auto 50px;
}

li {
    margin-bottom: 20px;
}

footer {
    margin: auto 50px;
}

img {
    width: 150px;
    display: flex;
    margin: 0 auto;
}