@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');

:root {
    --primary-color: #45469b;
    --secondary-color:  #EFC69B;
    --accent-color: #ffffff;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: "Helvetica", Arial, sans-serif;
    --secondary-font: "Domine", Georgia, serif;
}

* {
    margin: 0 auto;
}

#site-heading {
    font-family: var(--secondary-font);
    color: var(--text-dark);
    margin: 40px;
    text-align: center;
}

nav a {
    font-family: var(--primary-font);
    color: var(--primary-color);
    text-decoration: none;
}

#nav-grid {
    border-top: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    list-style-type: none;
    display: grid;
    grid-template-columns: 80px 80px 80px;
    justify-content: end;
    justify-items: end;
    padding: 20px;
    padding-right: 50px;
}

#main-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 50px 10px;
    row-gap: 40px;
}

#filter {
    border: 2px solid var(--secondary-color);
    padding: 20px;
    grid-column: 3 / 4;
    grid-row: 1 / 10;
}

.article-heading {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

.article-date, p {
    font-family: var(--primary-font);
}

.article-heading, .book-cover, .article-right p {
    margin: 20px;
}

.article-heading {
    margin-top: 0;
}

.article-date, .article-left p {
    font-weight: normal;
    margin: 10px;
}

.article-left {
    border-right: 2px solid var(--secondary-color);
    text-align: right;
    width: 200px;
    padding: 20px;
    grid-column: 1 / 2;
}

.article-right {
    grid-column: 2 / 3;
}

#read-more {
    background-color: #ffffff;
    border: none;
    font-size: 1em;
    color: var(--primary-color);
}

.book-cover {
    display: block;
    margin: 0 auto;
}