@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');

:root {
    /* Site color scheme */
    --primary-color: #0D3B66;
    --secondary-color: #F4D35E;
    --accent1-color: #FAF0CA;
    --accent2-color: #EFEFEF;
    /* Site fonts */
    --heading-font: "Germania One", Georgia, serif;
    --paragraph-font: Helvetica, Arial, sans-serif;
}

body {
    margin: 0 auto;
    font-family: var(--paragraph-font);
}

nav {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    text-align: center;
}

nav img {
    width: 100%;
    max-width: 80px;
}

#nav-text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

nav a, footer a {
    color: var(--accent2-color);
    padding: 10px;
    text-decoration: dotted underline;
    text-underline-offset: 0.3em;
}

nav a:hover, footer a:hover {
    color: var(--accent1-color);
}

nav a:visited, footer a:visited {
    color: var(--accent1-color);
}

.heading {
    color: var(--secondary-color);
    font-family: var(--heading-font);
    font-size: 2.5em;
    margin: 20px;
}

#hero img {
    width: 100%;
}

main {
    margin: 50px;
    text-align: center;
    max-width: 1000px;
    justify-self: center;
    max-width: 960px;
}

main .heading {
    color: var(--primary-color);
    font-size: 2em;
}

main p {
    text-align: left;
}

main ol {
    max-width: fit-content;
    justify-self: center;
}

.content-container {
    margin-bottom: 50px;
}

main a {
    padding: 10px;
    text-decoration: dotted underline;
    text-underline-offset: 0.3em;
}

main a:hover, a:visited {
    color: var(--primary-color);
}

footer {
    background-color: #0D3B66;
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

@media screen and (min-width: 700px) {
    
    nav, #navtext, footer {
        flex-direction: row;
    }

    footer {
        gap: 50px;
    }
}

@media screen and (min-width: 960px) {
    body {
        font-size: 1.4em;
    }
}